* {
  margin: 0;
  padding: 0;
}
.formContainer {
  padding: 20px;
  width: 60%;
  margin: 0 auto 0 20%;
}

h2 {
  color: #ff416c;
  letter-spacing: 2px;
  margin-bottom: 12px;
}

@media (max-width: 767px) {
  .formContainer {
    padding: 10px;
    width: 80%;
    margin: 0 auto 0 10%;
  }
}

@media (max-width: 480px) {
  .formContainer {
    padding: 10px;
    width: 100%;
    margin: 0 auto 0;
  }
}
