<app-preloader></app-preloader>
<section class="main-content" style="margin-bottom: 100px">
  <div class="container-xl">
    <!-- section header -->
    <div class="section-header row form-setting" style="padding-bottom: 10px">
      <div class="col-6">
        <h2 class="section-title">Publish New Article</h2>
        <img
          src="https://themeger.shop/html/katen/html/images/wave.svg"
          class="wave"
          alt="wave"
        />
      </div>
      <div class="col-6"></div>
    </div>
    <app-editor></app-editor>
  </div>
</section>
