<nav class="navbar navbar-light">
  <div class="container">
    <a
      [routerLink]="['/']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="navbar-brand"
      >conduit</a
    >
    <ul class="nav navbar-nav pull-xs-right">
      <li class="nav-item">
        <a
          class="nav-link"
          *ngIf="isLogin"
          [routerLink]="['editor']"
          routerLinkActive="active"
        >
          <i class="ion-compose"></i>New Post
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/login"
          *ngIf="!isLogin"
          routerLinkActive="active"
          >Sign in</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/sign-up"
          *ngIf="!isLogin"
          routerLinkActive="active"
          >Sign up</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
      </li>
      <li class="nav-item font-italic">
        <a
          class="nav-link"
          *ngIf="isLogin"
          [routerLink]="['/profile', currentUser]"
          routerLinkActive="active"
          ><img
            style="border-radius: 50%"
            width="28px"
            height="28px"
            src="{{
              user?.image ||
                'https://static.productionready.io/images/smiley-cyrus.jpg'
            }}"
            class="user-img"
          />&nbsp;{{ currentUser }}</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          *ngIf="isLogin"
          routerLink="/setting"
          routerLinkActive="active"
        >
          <i class="fas fa-cog"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
