<header class="header-default">
  <nav class="navbar navbar-expand-lg">
    <div class="container-xl">
      <!-- site logo -->
      <a
        class="navbar-brand home-icon"
        [routerLink]="['/']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        ><b>UTOD</b></a
      >

      <div class="collapse navbar-collapse"></div>

      <!-- header right section -->
      <div class="header-right">
        <ul class="navbar-nav list-unstyled list-inline mb-0">
          <div class="collapse navbar-collapse">
            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="/auth/login"
                *ngIf="!isLogin"
                routerLinkActive="active"
                >Sign in</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="/auth/sign-up"
                *ngIf="!isLogin"
                routerLinkActive="active"
                >Sign up</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                *ngIf="isLogin"
                [routerLink]="['editor']"
                routerLinkActive="active"
              >
                <i class="ion-compose"></i>New Post
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                [routerLink]="['/']"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                >Home</a
              >
            </li>
            <li class="nav-item font-italic">
              <a
                class="nav-link"
                *ngIf="isLogin"
                [routerLink]="['/profile', currentUser]"
                routerLinkActive="active"
                ><img
                  style="border-radius: 50%"
                  width="28px"
                  height="28px"
                  src="{{
                    user?.image ||
                      'https://static.productionready.io/images/smiley-cyrus.jpg'
                  }}"
                  class="user-img"
                />&nbsp;{{ currentUser }}</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                *ngIf="isLogin"
                routerLink="/auth/setting"
                routerLinkActive="active"
              >
                <i class="fas fa-cog"></i>
              </a>
            </li>
          </div>
          <div class="header-buttons">
            <button class="burger-menu icon-button">
              <span class="burger-icon"></span>
            </button>
          </div>
        </ul>
      </div>
    </div>
  </nav>
</header>

<header class="header-default clone">
  <nav class="navbar navbar-expand-lg">
    <div class="container-xl">
      <!-- site logo -->
      <a
        class="navbar-brand home-icon"
        [routerLink]="['/']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        ><b>UTOD</b></a
      >

      <div class="collapse navbar-collapse"></div>

      <!-- header right section -->
      <div class="header-right">
        <ul class="navbar-nav list-unstyled list-inline mb-0">
          <div class="collapse navbar-collapse">
            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="/auth/login"
                *ngIf="!isLogin"
                routerLinkActive="active"
                >Sign in</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="/auth/sign-up"
                *ngIf="!isLogin"
                routerLinkActive="active"
                >Sign up</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                *ngIf="isLogin"
                [routerLink]="['editor']"
                routerLinkActive="active"
              >
                <i class="ion-compose"></i>New Post
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                [routerLink]="['/']"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                >Home</a
              >
            </li>
            <li class="nav-item font-italic">
              <a
                class="nav-link"
                *ngIf="isLogin"
                [routerLink]="['/profile', currentUser]"
                routerLinkActive="active"
                ><img
                  style="border-radius: 50%"
                  width="28px"
                  height="28px"
                  src="{{
                    user?.image ||
                      'https://static.productionready.io/images/smiley-cyrus.jpg'
                  }}"
                  class="user-img"
                />&nbsp;{{ currentUser }}</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                *ngIf="isLogin"
                routerLink="/auth/setting"
                routerLinkActive="active"
              >
                <i class="fas fa-cog"></i>
              </a>
            </li>
          </div>
          <div class="header-buttons">
            <button class="burger-menu icon-button">
              <span class="burger-icon"></span>
            </button>
          </div>
        </ul>
      </div>
    </div>
  </nav>
</header>

<div class="canvas-menu d-flex align-items-end flex-column">
  <!-- close button -->
  <button type="button" class="btn-close" aria-label="Close"></button>

  <!-- logo -->
  <div class="logo">
    <a
      class="navbar-brand home-icon"
      [routerLink]="['/']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      ><b>UTOD</b></a
    >
  </div>

  <!-- menu -->
  <nav>
    <ul class="vertical-menu">
      <li class="nav-item">
        <a
          class="nav-link"
          *ngIf="isLogin"
          [routerLink]="['editor']"
          routerLinkActive="active"
        >
          <i class="ion-compose"></i>New Post
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/auth/login"
          *ngIf="!isLogin"
          routerLinkActive="active"
          >Sign in</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/auth/sign-up"
          *ngIf="!isLogin"
          routerLinkActive="active"
          >Sign up</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
      </li>
      <li class="nav-item font-italic">
        <a
          class="nav-link"
          *ngIf="isLogin"
          [routerLink]="['/profile', currentUser]"
          routerLinkActive="active"
          ><img
            style="border-radius: 50%"
            width="28px"
            height="28px"
            src="{{
              user?.image ||
                'https://static.productionready.io/images/smiley-cyrus.jpg'
            }}"
            class="user-img"
          />&nbsp;{{ currentUser }}</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          *ngIf="isLogin"
          routerLink="/auth/setting"
          routerLinkActive="active"
        >
          <i class="fas fa-cog"></i>Setting
        </a>
      </li>
    </ul>
  </nav>
</div>
