<nav class="navbar navbar-light">
  <div class="container">
    <a class="navbar-brand">conduit</a>
    <ul class="nav navbar-nav pull-xs-right">
      <li class="nav-item">
        <a class="nav-link" *ngIf="isLogin">
          <i class="ion-compose"></i>&nbsp;New Post
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" *ngIf="!isLogin">Sign in</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/sign-up" *ngIf="!isLogin">Sign up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="isLogin" routerLink="/setting">
          Settings
        </a>
        <!-- <a class="nav-link dropdown-toggle" *ngIf="isLogin" routerLink="/setting">
          Settings
        </a> -->
        <!-- <ul class="dropdown-menu">
          <li><a class="dropdown-item" routerLink="/setting">Settings</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" *ngIf="isLogin" (click)="logout()">Logout</a></li>
        </ul> -->
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
    </ul>
  </div>
</nav>
