.post-preview {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1.5rem 0;
}

.post-preview .post-meta {
  margin: 0 0 1rem 0;
}

.post-preview .preview-link h1 {
  font-weight: 700 !important;
  font-size: 2rem !important;
}
.post-preview .preview-link p {
  font-family: "Source Serif Pro", serif;
  margin-bottom: 0;
}

.post-preview .preview-link span {
  font-size: 0.8rem;
  font-weight: 300;
  color: #bbb;
}

.post-meta img {
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  width: 32px;
  border-radius: 30px;
}

.post-meta .info {
  margin: 0 1.5rem 0 0.3rem;
  display: inline-block;
  vertical-align: middle;
  line-height: 1rem;
}

.post-meta .info .author {
  display: block;
  font-weight: 500 !important;
}

.post-meta .info .date {
  color: #bbb;
  font-size: 0.8rem;
  display: block;
}
