<app-preloader *ngIf="isLoading"></app-preloader>

<div *ngIf="!isLoading">
  <div class="my-login" style="margin-top: 50px">
    <div class="container">
      <div class="overlay-container">
        <div class="overlay">
          <div class="overlay-panel overlay-left">
            <h1 class="text-light">Welcome Back!</h1>
            <p>
              To keep connected with us please login with your personal info
            </p>
            <button class="ghost" id="signIn" routerLink="/auth/login">
              Sign In
            </button>
          </div>
        </div>
      </div>
      <div class="form-container sign-up-container">
        <!-- onSignup() run when click submit button -->
        <form #formSignup="ngForm" (submit)="onSignup(formSignup.value)">
          <h1>Sign up</h1>
          <span
            ><a class="link-sign" routerLink="/auth/login"
              >Have an account?</a
            ></span
          >
          <input
            type="text"
            placeholder="Your Name"
            name="username"
            ngModel
            required
          />
          <input
            type="email"
            placeholder="Email"
            name="email"
            ngModel
            required
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
          />
          <input
            type="password"
            placeholder="Password"
            name="password"
            ngModel
            required
          />
          <button type="submit" [disabled]="formSignup.invalid">Sign up</button>
        </form>
      </div>
    </div>
  </div>
</div>
