.post-page .banner {
  padding: 3rem 0 2rem 0;
}

.post-page .banner h1 {
  font-size: 2.8rem;
}

.post-page .banner .btn {
  opacity: 0.8;
}

.post-page .banner .btn:hover {
  transition: 0.1s all;
  opacity: 1;
}

.post-page .banner .post-meta {
  margin: 2rem 0 0 0;
}

.post-meta img {
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  width: 32px;
  border-radius: 30px;
}

.post-meta .info {
  margin: 0 1.5rem 0 0.3rem;
  display: inline-block;
  vertical-align: middle;
  line-height: 1rem;
}

.post-meta .info .author {
  display: block;
  font-weight: 500 !important;
}

.post-meta .info .date {
  color: #bbb;
  font-size: 0.8rem;
  display: block;
}

.post-page .banner .post-meta .author {
  color: #fff;
}

.post-page .post-content p {
  font-family: "Source Serif Pro", serif;
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-bottom: 2rem;
}

.post-page .post-content h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700 !important;
  margin: 1.6rem 0 1rem 0;
}

.post-page .post-actions {
  text-align: center;
  margin: 1.5rem 0 3rem 0;
}

.post-page .post-actions .post-meta .info {
  text-align: left;
}

.post-page .comment-form .card-block {
  padding: 0;
}

.post-page .comment-form .card-block textarea {
  /* border: 0px; */
  padding: 1.25rem;
}

.post-page .comment-form .card-footer .btn {
  font-weight: 700;
  float: right;
}

.post-page .comment-form .card-footer .comment-author-img {
  height: 30px;
  width: 30px;
}

.post-page .mod-options {
  float: right;
  color: #333;
  font-size: 1rem;
}

.post-page .mod-options i {
  margin-left: 5px;
  opacity: 0.6;
  cursor: pointer;
}

.post-page .mod-options i:hover {
  opacity: 1;
}

.comment-author-img {
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  width: 20px;
  border-radius: 30px;
}

.comment-author {
  display: inline-block;
  vertical-align: middle;
}

.date-posted {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  color: #bbb;
}
