<div class="widget rounded mb-5">
  <div class="widget-header text-center">
    <h3 class="widget-title">Tag Clouds</h3>
    <img src="assets/images/wave.svg" class="wave" alt="wave" />
  </div>
  <div class="widget-content">
    <a
      class="active"
      class="tag"
      style="cursor: pointer"
      *ngFor="let tag of tagList"
    >
      # {{ tag }}
    </a>
    <!-- <a class="active" class="tag" style="cursor: pointer"># welcome</a>
    <a class="active" class="tag" style="cursor: pointer"># introduction</a>
    <a class="active" class="tag" style="cursor: pointer"># codebaseShow</a>
    <a class="active" class="tag" style="cursor: pointer"># implementations</a> -->
  </div>
</div>
