<section
  class="hero-carousel mt-2 mb-5"
  id="carouselExampleIndicators"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="container-xl">
    <div
      class="post-carousel-lg slick-initialized slick-slider slick-dotted"
      role="toolbar"
    >
      <button
        class="slick-prev carousel-control-prev hide"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev"
      >
        <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
        <span class="visually-hidden">Previous</span>
      </button>
      <!-- post -->
      <div>
        <div
          class="slick-track carousel-inner"
          role="listbox"
          style="width: 2232px"
        >
          <div
            class="post featured-post-xl carousel-item active"
            data-slick-index="0"
            aria-hidden="false"
            style="width: 1116px; position: relative"
          >
            <div class="details clearfix">
              <a class="category-badge lg" tabindex="0">Lifestyle</a>
              <h4 class="post-title">
                <a tabindex="0">The only thing really stopping You, is You!</a>
              </h4>
              <ul class="meta list-inline mb-0">
                <li class="list-inline-item">
                  <a tabindex="0">Ngoc Lias</a>
                </li>
                <li class="list-inline-item">21 March 2021</li>
              </ul>
            </div>
            <a tabindex="0">
              <div class="thumb rounded">
                <div
                  class="inner data-bg-image"
                  style="
                    background-image: url('../../../../../assets/images/post/carousel1.webp');
                  "
                ></div>
              </div>
            </a>
          </div>
          <div
            class="post featured-post-xl carousel-item"
            data-slick-index="1"
            aria-hidden="true"
            style="width: 1116px; position: relative"
          >
            <div class="details clearfix">
              <a class="category-badge lg" tabindex="1">Lifestyle</a>
              <h4 class="post-title">
                <a tabindex="1"
                  >If you're good at something, never do it for free !</a
                >
              </h4>
              <ul class="meta list-inline mb-0">
                <li class="list-inline-item">
                  <a tabindex="1">Fuch Joker</a>
                </li>
                <li class="list-inline-item">12 December 1999</li>
              </ul>
            </div>
            <a tabindex="1">
              <div class="thumb rounded">
                <div
                  class="inner data-bg-image"
                  style="
                    background-image: url('../../../../../assets/images/post/carousel2.webp');
                  "
                ></div>
              </div>
            </a>
          </div>

          <div
            class="post featured-post-xl carousel-item"
            data-slick-index="2"
            aria-hidden="true"
            style="width: 1116px; position: relative"
          >
            <div class="details clearfix">
              <a class="category-badge lg" tabindex="2">Lifestyle</a>
              <h4 class="post-title">
                <a tabindex="2">Stop saying "I wish" start saying "I will"</a>
              </h4>
              <ul class="meta list-inline mb-0">
                <li class="list-inline-item">
                  <a tabindex="2">Tung Thomas</a>
                </li>
                <li class="list-inline-item">11 June 2021</li>
              </ul>
            </div>
            <a tabindex="2">
              <div class="thumb rounded">
                <div
                  class="inner data-bg-image"
                  data-bg-image="images/posts/featured-xl-2.jpg"
                  style="
                    background-image: url('../../../../../assets/images/post/carousel3.webp');
                  "
                ></div>
              </div>
            </a>
          </div>

          <div
            class="post featured-post-xl carousel-item"
            data-slick-index="3"
            aria-hidden="true"
            style="width: 1116px; position: relative"
          >
            <div class="details clearfix">
              <a class="category-badge lg" tabindex="3">Lifestyle</a>
              <h4 class="post-title">
                <a tabindex="3">Death is like the wind – always by my side</a>
              </h4>
              <ul class="meta list-inline mb-0">
                <li class="list-inline-item">
                  <a tabindex="3">Duyuo</a>
                </li>
                <li class="list-inline-item">15 January 2021</li>
              </ul>
            </div>
            <a tabindex="3">
              <div class="thumb rounded">
                <div
                  class="inner data-bg-image"
                  data-bg-image="images/posts/featured-xl-1.jpg"
                  style="
                    background-image: url('../../../../../assets/images/post/carousel4.webp');
                  "
                ></div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <!-- post -->

      <button
        class="slick-next carousel-control-next hide"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next"
      >
        <span class="visually-hidden">Next</span>
      </button>
      <ul class="slick-dots carousel-indicators" role="tablist">
        <button
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>

        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>

        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>

        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="3"
          aria-label="Slide 4"
        ></button>
      </ul>
    </div>
  </div>
</section>
