<section class="hero-carousel">
  <div class="container-xl">
    <div
      class="post-carousel-lg slick-initialized slick-slider slick-dotted"
      role="toolbar"
    >
      <button
        type="button"
        data-role="none"
        class="slick-prev slick-arrow"
        aria-label="Previous"
        role="button"
        style=""
      >
        Previous
      </button>
      <!-- post -->
      <div aria-live="polite" class="slick-list draggable">
        <div
          class="slick-track"
          role="listbox"
          style="opacity: 1; width: 2232px"
        >
          <div
            class="post featured-post-xl slick-slide slick-current slick-active"
            data-slick-index="0"
            aria-hidden="false"
            tabindex="-1"
            role="option"
            aria-describedby="slick-slide00"
            style="
              width: 1116px;
              position: relative;
              left: 0px;
              top: 0px;
              z-index: 999;
              opacity: 1;
            "
          >
            <div class="details clearfix">
              <a href="category.html" class="category-badge lg" tabindex="0"
                >Lifestyle</a
              >
              <h4 class="post-title">
                <a href="blog-single.html" tabindex="0"
                  >9 Most Awesome Blue Lake With Snow Mountain</a
                >
              </h4>
              <ul class="meta list-inline mb-0">
                <li class="list-inline-item">
                  <a href="#" tabindex="0">Katen Doe</a>
                </li>
                <li class="list-inline-item">29 March 2021</li>
              </ul>
            </div>
            <a href="blog-single.html" tabindex="0">
              <div class="thumb rounded">
                <div
                  class="inner data-bg-image"
                  data-bg-image="images/posts/featured-xl-1.jpg"
                  style="
                    background-image: url('images/posts/featured-xl-1.jpg');
                  "
                ></div>
              </div>
            </a>
          </div>
          <div
            class="post featured-post-xl slick-slide"
            data-slick-index="1"
            aria-hidden="true"
            tabindex="-1"
            role="option"
            aria-describedby="slick-slide01"
            style="
              width: 1116px;
              position: relative;
              left: -1116px;
              top: 0px;
              z-index: 998;
              opacity: 0;
            "
          >
            <div class="details clearfix">
              <a href="category.html" class="category-badge lg" tabindex="-1"
                >Culture</a
              >
              <h4 class="post-title">
                <a href="blog-single.html" tabindex="-1"
                  >Important Thing You Need To Know About Swim</a
                >
              </h4>
              <ul class="meta list-inline mb-0">
                <li class="list-inline-item">
                  <a href="#" tabindex="-1">Katen Doe</a>
                </li>
                <li class="list-inline-item">29 March 2021</li>
              </ul>
            </div>
            <a href="blog-single.html" tabindex="-1">
              <div class="thumb rounded">
                <div
                  class="inner data-bg-image"
                  data-bg-image="images/posts/featured-xl-2.jpg"
                  style="
                    background-image: url('images/posts/featured-xl-1.jpg');
                  "
                ></div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <!-- post -->

      <button
        type="button"
        data-role="none"
        class="slick-next slick-arrow"
        aria-label="Next"
        role="button"
        style=""
      >
        Next
      </button>
      <ul class="slick-dots" style="" role="tablist">
        <li
          class="slick-active"
          aria-hidden="false"
          role="presentation"
          aria-selected="true"
          aria-controls="navigation00"
          id="slick-slide00"
        >
          <button type="button" data-role="none" role="button" tabindex="0">
            1
          </button>
        </li>
        <li
          aria-hidden="true"
          role="presentation"
          aria-selected="false"
          aria-controls="navigation01"
          id="slick-slide01"
        >
          <button type="button" data-role="none" role="button" tabindex="0">
            2
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
