<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="post post-grid rounded bordered">
        <div class="thumb top-rounded">
          <a href="category.html" class="category-badge position-absolute"
            >Lifestyle</a
          >
          <span class="post-format">
            <i class="icon-picture"></i>
          </span>
          <a href="blog-single.html">
            <div class="inner">
              <img
                src="https://themeger.shop/html/katen/html/images/posts/post-md-1.jpg"
                alt="post-title"
              />
            </div>
          </a>
        </div>
        <div class="details">
          <ul class="meta list-inline mb-0">
            <li class="list-inline-item">
              <a href="#"
                ><img
                  src="https://themeger.shop/html/katen/html/images/other/author-sm.png"
                  class="author"
                  alt="author"
                />Katen Doe</a
              >
            </li>
            <li class="list-inline-item">29 March 2021</li>
          </ul>
          <h5 class="post-title mb-3 mt-3">
            <a href="blog-single.html"
              >How To Become Better With Building In 1 Month</a
            >
          </h5>
          <p class="excerpt mb-0">
            I am so happy, my dear friend, so absorbed in the exquisite sense of
            mere tranquil existence.
          </p>
        </div>
        <div class="post-bottom clearfix d-flex align-items-center">
          <div class="social-share me-auto"></div>
          <div class="more-button float-end">
            <a href="blog-single.html"><i class="fas fa-ellipsis-h"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
