.user-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 0.6rem;
}

.category-badge-f {
  color: #fe4f70;
  font-size: 13px;
  border-radius: 25px;
  display: inline-block;
  padding: 6px 11px;
  line-height: 1;
  left: 20px;
  top: 20px;
  z-index: 1;
  background: #fff;
  box-shadow: 0px 0px 2px #fe4f70 inset;
  background-size: 200% auto;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.category-badge-f:hover {
  border: none;
  color: #fff;
  background: -webkit-linear-gradient(
    left,
    #fe4f70 0%,
    #ffa387 51%,
    #fe4f70 100%
  );
  background: linear-gradient(to right, #fe4f70 0%, #ffa387 51%, #fe4f70 100%);
}
