<div class="profile-page">
  <div class="user-info">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <img
            [src]="
              profile?.image ||
              'https://static.productionready.io/images/smiley-cyrus.jpg'
            "
            class="user-img"
          />
          <h4>{{ profile?.username }}</h4>
          <p>
            {{ profile?.bio || "No Bio Provided!" }}
          </p>
          <button
            *ngIf="isUser && isLoggedIn"
            class="btn btn-sm btn-outline-secondary action-btn"
          >
            <a [routerLink]="['/setting']"> Edit Profile Settings </a>
          </button>
          <button
            *ngIf="!isUser"
            (click)="onFollow()"
            class="btn btn-sm btn-outline-secondary action-btn"
          >
            <i class="ion-plus-round"></i>
            {{ profile?.following ? "Unfollow" : "Follow" }}
            {{ profile?.username }}
          </button>
        </div>
      </div>
    </div>
  </div>

  <app-profile-article [authorName]="profile?.username"></app-profile-article>
</div>
