.page-link:hover {
  z-index: 2;
  color: #fff;
  background: #ffa387;
  background: -webkit-linear-gradient(
    bottom,
    #ffa387 0%,
    #fe4f70 51%,
    #ffa387 100%
  );
  background: linear-gradient(to top, #ffa387 0%, #fe4f70 51%, #ffa387 100%);
  background-size: auto 200%;
  border-color: transparent;
}
