<div class="home-page">
  <div class="banner">
    <div class="container">
      <h1 class="logo-font">conduit</h1>
      <p>A place to share your knowledge.</p>
    </div>
  </div>

  <div class="container page">
    <div class="row">
      <div class="col-md-9">
        <div class="feed-toggle">
          <ul
            class="nav nav-pills outline-active"
            style="
              border-bottom: 1px solid rgba(0, 0, 0, 0.1);
              padding: 1.5rem 0 0 0;
              margin-bottom: 30px;
            "
          >
            <li class="nav-item">
              <a class="nav-link disabled">Your Feed</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link {{ ViewMode == 'global' ? 'active' : '' }}"
                (click)="changeViewMode()"
                >Global Feed</a
              >
            </li>
            <li class="nav-item" *ngIf="tagMode == true">
              <a class="nav-link {{ ViewMode == 'tags' ? 'active' : '' }}"
                >Tags Feed</a
              >
            </li>
          </ul>
        </div>

        <app-global *ngIf="ViewMode == 'global'"></app-global>
        <app-tags *ngIf="ViewMode == 'tags'" [tags]="tagsValue"></app-tags>
      </div>

      <div class="col-md-3">
        <div class="sidebar-box">
          <form action="#" class="search-form">
            <div class="form-group">
              <span class="fas fa-search"></span>
              <input
                type="text"
                class="form-control"
                placeholder="Search by author ..."
              />
            </div>
          </form>
        </div>

        <div class="sidebar-box">
          <h3 class="sidebar-heading">Tags</h3>
          <ul class="tagcloud">
            <button (click)="sendTag(tag)" *ngFor="let tag of tags">
              {{ tag }}
            </button>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
