/* New Css */

.widget:last-child {
  margin-bottom: 0;
}

.rounded {
  border-radius: 10px !important;
}

.widget {
  border: solid 1px #ebebeb;
  padding: 25px 20px;
  margin-bottom: 40px;
}

.widget .widget-header {
  margin-bottom: 30px;
}

.text-center {
  text-align: center !important;
}

.widget .widget-title {
  font-size: 20px;
  margin: 0;
}

h3 {
  color: #203656;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 1.4;
  margin: 20px 0;
}

.widget .widget-header img.wave {
  margin-top: 10 px;
}

img {
  max-width: 100%;
  height: auto;
}

img {
  vertical-align: middle;
}

.tag {
  color: #8f9bad;
  border: solid 1px #ebebeb;
  border-radius: 25px;
  font-size: 13px;
  display: inline-block;
  padding: 3px 14px;
  margin: 4px 6px;
}

.tag:hover {
  border-color: #fe4f70;
  color: #fe4f70;
}

a {
  color: #fe4f70;
  outline: 0;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.tag-list {
  margin-top: 67px;
}

.post.post-list-sm {
  clear: both;
}

.post.post-list-sm.circle .thumb {
  max-width: 60px;
}

.post.post-list-sm .thumb {
  float: left;
  position: relative;
}

.post.post-list-sm .thumb .number {
  color: #fff;
  display: block;
  border: solid 2px #fff;
  border-radius: 50%;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  height: 24px;
  line-height: 22px;
  left: 0;
  text-align: center;
  top: -10px;
  position: absolute;
  width: 24px;
  -webkit-box-shadow: 0px 2px 4px 0px rgb(0 0 0 / 15%);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 4px 0px rgb(0 0 0 / 15%);
  background: #fe4f70;
  background: -webkit-linear-gradient(bottom, #fe4f70 0%, #ffa387 100%);
  background: linear-gradient(to top, #fe4f70 0%, #ffa387 100%);
  z-index: 1;
}

.post .thumb.circle .inner {
  overflow: hidden;
  border-radius: 50%;
}

.post.post-list-sm.circle .details {
  margin-left: 80px;
}

.post.post-list-sm .post-title {
  font-size: 15px;
}

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

h6 {
  color: #203656;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 1.4;
  margin: 20px 0;
}

.circle {
  margin-bottom: 10px;
}


.nav-hover:hover {
  cursor: pointer;
}

.a-hover:hover {
  color: white;
  background: #fe4f70;
  background: -webkit-linear-gradient(bottom, #fe4f70 0%, #ffa387 100%);
  background: linear-gradient(to top, #fe4f70 0%, #ffa387 100%);
}


.home-icon {
  color: #ff416c !important;
  border-radius: 10px;
  padding: 5px;
  font-size: 30px;
}

.li-hover:hover {
  cursor: pointer;
  color: #ff416c;
}
