/*
.sidebar-box {
  margin-bottom: 20px;
  padding: 25px;
  font-size: 15px;
  width: 100%;
}


.sidebar-box h3.sidebar-heading {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.tagcloud {
  padding: 0;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}


.tagcloud button {
  text-transform: uppercase;
  display: inline-block;
  padding: 4px 10px;
  margin-bottom: 7px;
  margin-right: 4px;
  border-radius: 4px;
  color: #000000;
  border: 1px solid #ccc;
  font-size: 11px;
}

.sidebar-box {
  margin-bottom: 30px;
  padding: 25px;
  font-size: 15px;
  width: 100%;
}

.search-form {
  background: #fafafa;
  padding: 10px;
}

.search-form .form-group {
  position: relative;
  margin-bottom: 0;
}

.search-form .fas {
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.search-form .form-group input {
  padding-right: 50px;
  font-size: 14px;
}

.form-control {
  height: 52px !important;
  background: #fff !important;
  color: #000000 !important;
  font-size: 18px;
  border-radius: 0px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}



.blog-entry .img.img-2 {
  height: 330px;
}

.blog-entry .img {
  display: block;
  height: 400px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}

.hero-wrap,
.img,
.blog-img,
.user-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}


.blog-entry .text {
  position: relative;
  z-index: 0;
}

.blog-entry .text .category {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  margin: 15px 0;
}

.category a {
  text-decoration: none;
  color: #f05d23;
  outline: none !important;
  font-weight: 700;
}

.d-block {
  display: block !important;
}

.blog-entry .text-2 h3 {
  font-size: 22px;
  font-weight: 700;
}

.blog-entry .text h3 {
  font-weight: 700;
  font-size: 28px;
}

.blog-entry .text h3 a {
  color: #000000;
}

.blog-entry .author .img {
  width: 60px;
  height: 60px;
  display: block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.blog-entry .author span {
  font-size: 15px;
  font-weight: 300;
}

.blog-entry .author span {
  font-size: 18px;
  color: #b3b3b3;
}

.blog-entry .author .info h3 {
  font-size: 18px;
}

.blog-entry .author .info h3 {
  font-size: 20px;
  margin-bottom: 0;
  font-weight: 400;
}

.blog-entry .author .info h3 a {
  font-weight: 600;
  color: #000000;
  text-decoration: underline;
}

.blog-entry .author .info h3 span {
  color: #000000;
}

.blog-entry .author span {
  font-size: 15px;
  font-weight: 300;
}


.blog-entry .text .meta-wrap .meta span {
  margin: 0 5px;
}

.blog-entry .text .meta-wrap .meta span i {
  margin-right: 10px;
}


.blog-entry .text .meta-wrap .btn {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  text-decoration: none;
  color: #f05d23;
  outline: none !important;
  font-weight: 700;
  padding : 0 !important;
} */


.profile-page .user-info {
  text-align: center;
  background: #f3f3f3;
  padding: 2rem 0 1rem 0;
}

.profile-page .user-info .user-img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-bottom: 1rem;
}

.profile-page .user-info h4 {
  font-weight: 700;
}

.profile-page .user-info p {
  margin: 0 auto 0.5rem auto;
  color: #aaa;
  max-width: 450px;
  font-weight: 300;
}

.profile-page .user-info .action-btn {
  float: right;
  color: #999;
  border: 1px solid #999;
}

.profile-page .posts-toggle {
  margin: 1.5rem 0 -1px 0;
}

.post-meta {
  display: block;
  position: relative;
  font-weight: 300;
}

.post-preview {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1.5rem 0;
}

.post-preview .post-meta {
  margin: 0 0 1rem 0;
}

.post-preview .preview-link h1 {
  font-weight: 700 !important;
  font-size: 2rem !important;
}

.post-preview .preview-link p {
  font-family: "Source Serif Pro", serif;
  margin-bottom: 0;
}

.post-preview .preview-link span {
  font-size: 0.8rem;
  font-weight: 300;
  color: #bbb;
}

.post-meta img {
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  width: 32px;
  border-radius: 30px;
}

.post-meta .info {
  margin: 0 1.5rem 0 0.3rem;
  display: inline-block;
  vertical-align: middle;
  line-height: 1rem;
}

.post-meta .info .author {
  display: block;
  font-weight: 500 !important;
}

.post-meta .info .date {
  color: #bbb;
  font-size: 0.8rem;
  display: block;
}

.home-page .sidebar {
  padding: 5px 10px 10px;
  background: #f3f3f3;
  border-radius: 4px;
}

.label-default[href]:focus,
.label-default[href]:hover {
  background-color: #687077;
}


.label-default {
  background-color: #818a91;
}

.label-pill {
  padding-right: .6em;
  padding-left: .6em;
  border-radius: 10rem;
}

.label {
  padding: .25em .4em;
  font-size: 75%;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
  border: none;
  font-weight: 600;
  margin: 0 5px 0 0;
}


.page-link {
  text-decoration: none;
}
